<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ajax-ex-10</title>
    <!-- jQuery CDN   -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
</head>
<body>
<button onclick="ex10Fn()">ex10</button>
</body>
<script>
    const ex10Fn = () =>{
        const val1="hello mudong!!";
        const params={
            "id":1,
            "memberEmail": "jhng12",
            "memberPassword": "5678",
            "memberName": "무동이"
        };
        $.ajax({
            type: "post",
            url: "/ex10",
            data: JSON.stringify(params),     //json으로 변환후 보내기
            contentType: "application/json",  //json형식으로 지정
            success: function(res){  // 요청 성공시 실행
                //console.log("성공",res.id,"/",res.memberEmail,"/",res.memberPassword,"/",res.memberName);
                console.log("성공",res);

            },
            error: function(){    //요청 실패시 실행
                console.log("실패");
            }
        })
    }
</script>
</html>